**Q1. Python program to print Highest Common Factor (HCF) of two numbers
Example : Take values according to you**

In [26]:
def hcf(num1, num2):
  lis = []
  min = 0
  if num1 > num2:
    min = num2
  else:
    min = num1
  for x in range(1, min+1, 1):
    if num2 % x == 0 and num1 % x == 0:
      lis.append(x)
  return max(lis)

In [29]:
hcf(17,89)

1

**Q2. What will be the output of the following Python code?**

    i=0
    def change(i):
      i=i+1
      return i
    change(1)
    print(i)

    a) 1
    b) Nothing is displayed
    c) 0
    d) An exception is thrown

In [33]:
i=0
def change(i):
  i=i+1
  return i
change(1)
print(i)

0

We are not storing the value of change(i). i is a global variable whose value is 0. So, we are getting 0

**3. What will be the output of the following Python code?**

    def a(b):
      b = b + [5]
    c = [1, 2, 3, 4]
    a(c)
    print(len(c))

In [34]:
def a(b):
  b = b + [5]
c = [1, 2, 3, 4]
a(c)
print(len(c))

4

we are only finding the value of length of c which is 4. So we get output as 4

**4. What will be the output of the following Python code?**

    a=10
    b=20
    def change():
      global b
      a=45
      b=56
    change()
    print(a)
    print(b)

In [35]:
a=10
b=20
def change():
  global b
  a=45
  b=56
change()
print(a)
print(b)

10
56

As a's global value is 10 and b's global value is 56 we get 10 and 56

**5. What will be the output of the following Python code?**

    def change(i = 1, j = 2):
      i = i + j
      j = j + 1
      print(i, j)
    change(j = 1, i = 2)

In [37]:
def change(i = 1, j = 2):
  i = i + j
  j = j + 1
  print(i, j)
change(j = 1, i = 2)

3 2

initially we have j = 1 and i = 2
then in function we have value changed for i to 2 and j to 1. then i = 2 + 1 and j = 1 + 1. So, we get 3 and 2