## **Assignment**

1. Find the data type of a if a=9

In [1]:
a = 9
print(type(a))

<class 'int'>

2. Find the data type of a if a=9.0

In [2]:
a = 9.0
print(type(a))

<class 'float'>

3. Find the data type of a if a='9.'

In [3]:
a = '9.'
print(type(a))

<class 'str'>

4. Find the data type of a if a=(9)

In [4]:
a = (9)
print(type(a))

<class 'int'>

In [5]:
a = (9,2)
print(type(a))

<class 'tuple'>

5. Find the data type of a if a=False

In [6]:
a = False
print(type(a))

<class 'bool'>

6. Find the data type of a if a=[1,2,3]

In [7]:
a = [1, 2, 3]
print(type(a))

<class 'list'>

7. Find the data type of a if a=(1,2,3)

In [8]:
a=(1,2,3)
print(type(a))

<class 'tuple'>

8. Find the data type of a if a={'key': 9}

In [9]:
a={'key': 9}
print(type(a))

<class 'dict'>

9. Find the data type of a if a=1 + 9j

In [10]:
a=1 + 9j
print(type(a))

<class 'complex'>

10. Set a=1 and b=2. What data type is a/b?

In [11]:
a = 1
b = 2
print(type(a/b))

<class 'float'>

11. Create a dictionary numbers = {'one':1, 'two':2, 'three':3}. Pull out the number '2' by calling the key 'two'
.

In [13]:
numbers = {'one':1, 'two':2, 'three':3}
print(numbers['two'])

2

12. Create a tuple with the numbers 8, 9, and 10?

In [14]:
tup = (8, 9, 10)
print(type(tup))

<class 'tuple'>

1. Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:
d = {one:1, two:2, three:3} d[one]

In [16]:
d = {one:1, two:2, three:3} 
d[one]

NameError: ignored

While declaring a dictionary if we are using string for keys then it should be withing quotes, else it will be error. If keys are number then we can ignore the quotes.

In [17]:
d = {'one':1, 'two':2, 'three':3} 
d['one']

1

14 Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

    f = false 
    not f

In [21]:
f = false 
not f

NameError: ignored

Here we need to write "False" instead of "false" as it is a keyword and case sensitive.

In [22]:
f = False 
not f

True

1. Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

    lst = [1,3,5] 
    lst[3]

In [23]:
lst = [1,3,5] 
lst[3]

IndexError: ignored

In coding index starts from 0, here there are 3 elements in the list but it starts from 0. It will go like 0, 1, 2. Which means that 2 is the last element but we are calling 3. So, it gives error.

In [24]:
lst = [1,3,5] 
print(lst[2])
print(lst[-1])

5
5